In [2]:
import pandas as pd
import streamlit as st
from catch_clean import BrazilianIndicators
import plotly.express as px

In [3]:
data = BrazilianIndicators(files_central_bank=['../data/savings.csv', '../data/cdi.csv', '../data/selic.csv'], 
                           files_ibge=['../data/inpc.csv', '../data/ipca.csv'])
data.clean_data_bcb()
data.clean_data_ibge()
data = data.data_frame_indicators()

In [16]:
year = str(data['date'].dt.year.unique().max())
year

'2021'

In [17]:
data_slice = data.query('date >= @year')
data_slice

         date  Savings   CDI  Selic  INPC  IPCA
71 2021-01-01   0.1159  0.15   0.15  0.27  0.25
72 2021-02-01   0.1159  0.13   0.13  0.82  0.86
73 2021-03-01   0.1159  0.20   0.20  0.86  0.93
74 2021-04-01   0.1590  0.21   0.21  0.38  0.31
75 2021-05-01   0.1590  0.27   0.27  0.96  0.83
76 2021-06-01   0.2019  0.31   0.31  0.60  0.53