In [2]:
import pandas as pd

In [4]:
teste = pd.read_csv('../dados/ibov.csv')

In [5]:
teste

,Data,Preço ABEV3.SA,Preço ASAI3.SA,Preço AZUL4.SA,Preço B3SA3.SA,Preço BBAS3.SA,Preço BBDC3.SA,Preço BBDC4.SA,Preço BBSE3.SA,Preço BEEF3.SA,...,Preço TAEE11.SA,Preço TIMS3.SA,Preço TOTS3.SA,Preço UGPA3.SA,Preço USIM5.SA,Preço VALE3.SA,Preço VIVT3.SA,Preço VVAR3.SA,Preço WEGE3.SA,Preço YDUQ3.SA
1,2021-07-01,17.200001,85.800003,43.959999,16.320000,31.790001,21.140709,24.864641,23.23,9.33,...,36.650002,11.37,36.459999,18.180000,19.290001,111.279999,41.619999,15.46,34.250000,32.400002
2,2021-07-02,17.430000,86.000000,44.720001,16.420000,32.139999,21.489992,25.460991,23.15,9.36,...,37.410000,11.48,37.889999,18.950001,19.530001,113.580002,41.959999,15.60,35.259998,32.770000
3,2021-07-05,17.940001,86.099998,44.349998,16.110001,31.940001,21.230000,25.010000,22.91,9.40,...,37.619999,11.38,37.230000,18.790001,19.559999,113.169998,42.099998,15.48,34.910000,32.580002
4,2021-07-06,17.549999,85.699997,42.500000,15.920000,31.459999,20.900000,24.700001,22.60,9.30,...,37.349998,11.21,37.090000,18.500000,19.480000,113.769997,41.959999,15.00,34.549999,31.500000
5,2021-07-07,17.770000,86.250000,42.669998,16.270000,31.879999,21.059999,24.879999,22.85,9.44,...,37.930000,11.64,38.299999,19.100000,19.770000,114.099998,42.509998,15.15,36.060001,31.480000
6,2021-07-08,17.360001,86.199997,41.209999,16.150000,31.790001,20.760000,24.590000,22.60,9.35,...,37.380001,11.24,37.369999,19.059999,19.570000,113.660004,41.650002,14.85,34.730000,31.100000

In [6]:
teste.shape

(6, 83)