In [3]:
import pandas as pd
import requests
import json

In [59]:
dados = pd.read_csv('../dados/IBM.csv')

In [60]:
dados

            data     IBM
0     2021-06-21  146.65
1     2021-06-18  143.12
2     2021-06-17  145.60
3     2021-06-16  147.83
4     2021-06-15  149.36
...          ...     ...
5439  1999-11-05   90.25
5440  1999-11-04   91.56
5441  1999-11-03   94.37
5442  1999-11-02   94.81
5443  1999-11-01   96.75

[5444 rows x 2 columns]